<!-- <div id="footer"> -->
  <!-- <div class="container"> -->
  <!-- <div row class="footer-row">
  <div class="col-lg-6"> -->
      <!-- <div class="footer_left"> -->
        <!-- <h3>Copyright © 2015 &nbsp;<a href="jybjones.com">Jennifer YB Jones</a>. All Rights Reserved &nbsp;</h3>
      </div> -->
      <!-- </div> -->

    <!-- <div class="col-lg-6">
      <div class="footer_right">
        <ul class="soc-media-ul">
          <li><a href="https://www.linkedin.com/in/jybjones" target="_blank"><img img-responsive src="img/icons/linkblack.png"></a></li>
          <li><a href="https://github.com/jybjones" target="_blank"><img img-responsive src="img/icons/github.png"></a></li>
          <li><a href="mailto:jybjones@gmail.com"><img img-responsive src="img/icons/mailblack.png"></a></li>
        </ul>
      </div>
</div> -->
      <!-- </div> --> <!-- //end footerRow// -->
    <!-- </div> -->




