
<footer class="footer navbar-fixed-bottom" style="background-color:#f5f5f5">
  <row>
      <!-- <ul class="soc-media-ul"> -->
        <h6>Copyright © 2015 &nbsp;<a href="jybjones.com">Jennifer YB Jones</a>. All Rights Reserved &nbsp;</h6>

          <!-- <li><a href="https://www.linkedin.com/in/jybjones" target="_blank"><img img-responsive src="img/icons/linkblack.png"></a></li>
          <li><a href="https://github.com/jybjones" target="_blank"><img img-responsive src="img/icons/github.png"></a></li>
          <li><a href="mailto:jybjones@gmail.com"><img img-responsive src="img/icons/mailblack.png"></a></li> -->
       <!--  </ul> -->
  </row>
    </footer>





