div.navbar-collapse.collapse {
      display: block;
      overflow: hidden;
      max-height: 0px;
      -webkit-transition: max-height .3s ease;
      -moz-transition: max-height .3s ease;
      -o-transition: max-height .3s ease;
      transition: max-height .3s ease;
    }

    div.navbar-collapse.collapse.in {
      max-height: 2000px;
    }



a:hover, .btn.btn-primary:hover {
  text-shadow: 1px 1px 2px #black;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 1s;
          transition: 1s; }
.container{
  padding-top:50px;
  text-align: center;
}
