<section data-ng-controller="ItemsController" data-ng-init="loadAll()">
    <section id="items">
        <div class="page-header">
            <h2> Welcome {{global.user.Profile.firstName}} !</h2>
        </div>
          <p class="lead"><h3 ng-hide="global.user.Profile.podId">To post items or to see what other users have posted in your area, please add and save your address in your profile.</h3><h3  ng-hide="!global.user.Profile.podId">This is the location of your nearest ShareBox</h3></h3></p>
          <form role="form">
   <!-- ////Search Btn/// -->
    <!-- <div class="row">
      <div class="col-xs-12">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" />
          <div class="input-group-btn">
            <button type="submit" class="btn">Search</button> -->
          <!-- </div> --><!-- /btn-group -->
        <!-- </div> --><!-- /input-group -->
      <!-- </div> --><!-- /.col-xs-12 -->
    <!-- </div> --><!-- /.row -->
</form>
<hr>
        <div id="map" ng-init="drawMap()" class="signin container-fluid"></div>
          <ul class="thumbnailsItems">
            <li class=" thumbnail span3" data-ng-repeat="item in items" >
            <div class="updateText">
                <span>{{item.updatedAt | date:'medium'}}</span>
                <span>{{item.userProfile.firstName}}</span>

                <img ng-src="{{ item.images[0].url }}">
                <h2><a data-ng-href="#!/items/{{item.id}}">{{item.name}}</a></h2>
                {{item.description}} </div>
            </li>
        </ul>

    </section>
</section>

<!-- __________________________////Originall///__________________________________________ -->
<!-- <section data-ng-controller="ItemsController" data-ng-init="loadAll()">
  <h2> Welcome {{global.user.Profile.firstName}}</h2>
  <ul class="articles unstyled">
    <li data-ng-repeat="item in items">
      <span>{{item.updatedAt | date:'medium'}}</span>
      <span>{{item.userProfile.firstName}}</span>
      <h2><a data-ng-href="#!/items/{{item.id}}">{{item.name}}</a></h2>
      <div>{{item.description}}</div>
    </li>
  </ul>

  <a class="btn" href="/#!/items"> Borrow Item from Sh@reBox</a>
  <a class="btn" href="/#!/items/create">Add Item to Sh@reBox</a>
  <h1 data-ng-hide="!items || items.length">No Items Yet. <br> Why don't you <a href="/#!/items/create">Create One</a>?</h1>
</section>
