<section data-ng-controller="ItemsController" data-ng-init="loadAll()">
  <section id="items">
          <div class="page-header">
            <h2> Welcome {{global.user.Profile.firstName}}</h2>
          </div>
          <p class="lead">Here are some items your neighbors have posted. Click to get more info or see if it's available to borrow.</p>
          <form role="form">
   <!-- ////Search Btn/// -->
    <div class="row">
      <div class="col-xs-12">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" />
          <div class="input-group-btn">
            <button type="submit" class="btn">Search</button>
          </div><!-- /btn-group -->
        </div><!-- /input-group -->
      </div><!-- /.col-xs-12 -->
    </div><!-- /.row -->
</form>
<hr>

          <ul class="thumbnails items">
            <li class=" thumbnail span3" data-ng-repeat="item in items" >
              <span>{{item.updatedAt | date:'medium'}}</span>
              <span>{{item.userProfile.firstName}}</span>

                <img src="assets/img/examples/bootstrap-example-starter.png" alt="">
                  <h4><a data-ng-href="#!/items/{{item.id}}">{{item.name}}</a></h4>
                    {{item.description}}
                      </li>
                      </ul></a>
        </section>


<!-- __________________________////Originall///__________________________________________ -->
<!-- <section data-ng-controller="ItemsController" data-ng-init="loadAll()">
  <h2> Welcome {{global.user.Profile.firstName}}</h2>
  <ul class="articles unstyled">
    <li data-ng-repeat="item in items">
      <span>{{item.updatedAt | date:'medium'}}</span>
      <span>{{item.userProfile.firstName}}</span>
      <h2><a data-ng-href="#!/items/{{item.id}}">{{item.name}}</a></h2>
      <div>{{item.description}}</div>
    </li>
  </ul>

  <a class="btn" href="/#!/items"> Borrow Item from Sh@reBox</a>
  <a class="btn" href="/#!/items/create">Add Item to Sh@reBox</a>
  <h1 data-ng-hide="!items || items.length">No Items Yet. <br> Why don't you <a href="/#!/items/create">Create One</a>?</h1>
</section>
