<section data-ng-controller="ItemsController" data-ng-init="findOne()" class="signin container-fluid">
    <span>{{item.updatedAt | date:'medium'}}</span> View My Items
    <span>{{item.userProfile.firstName}}</span>

    <h2>{{item.name}}</h2>

    <div data-ng-show="global.user.Profile.id === item.userProfile.id">
        <a class="btn btn-primary" href="/#!/items/{{item.id}}/edit"> Edit&nbsp;&nbsp;&nbsp;
            <!-- <i class="icon-edit">Edit</i> -->
        </a>
        <a class="btn btn-primary" data-ng-click="remove();"> Delete
            <!-- <i class="icon-trash">Delete</i> -->
        </a>
    </div>
    <div>{{item.description}}</div>
    <div data-ng-repeat="image in item.images">
        <img ng-src="{{ image.url }}"/>
    </div>

    <!-- FORM -->
    <div data-ng-hide="global.user.Profile.id === item.userProfile.id">
    <h3>Check The Calendar For Available Dates</h3>
    <div style="display:inline-block; min-height:290px;">
        <datepicker ng-show="itemLoaded" ng-model="dt" show-weeks="false" class="well well-sm" date-disabled="disabled(date, mode)"
                    custom-class="getDayClass(date, mode)" jm-dp-refresh-view="dateDisablePromise"></datepicker>
    </div>
    <form name='scheduleForm' ng-submit="borrowRequest()">
        <div id="information-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="mediumDate"
                                       ng-model="newRequest.startDate" ng-click="open($event, 'start')"
                                       is-open="status.opened" show-weeks="false" min-date="minDate"
                                       datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                                       custom-class="getDayClass(date, mode)" ng-required="true" close-text="Close"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary" ng-click="open($event, 'start')">
                                        <i class="glyphicon glyphicon-calendar">Start Date</i>
                                    </button>
                                </span>
                            </p>
                        </div>

                        <div class="col-md-6">
                            <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="mediumDate"
                                       ng-model="newRequest.endDate" ng-click="open($event, 'end')"
                                       is-open="status.opened" show-weeks="false" min-date="minDate"
                                       datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                                       custom-class="getDayClass(date, mode)" ng-required="true" close-text="Close"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary" ng-click="open($event, 'end')">
                                        <i class="glyphicon glyphicon-calendar">End Date</i>
                                    </button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="controls">
                    <textarea data-ng-model="newRequest.message" id="message" cols="30" rows="10" placeholder="Message">
                    </textarea>
                </div>
                <hr>
                <input type="submit" value="Submit" class="btn btn-primary btn-lg">
            </div>
        </div>
    </form>
    </div>
</section>
