<section data-ng-controller="ItemsController" data-ng-init="findOne()">
    <span>{{item.updatedAt | date:'medium'}}</span> View My Items
    <span>{{item.userProfile.firstName}}</span>
    <h2>{{item.name}}</h2>
    <div data-ng-show="global.user.Profile.id === item.userProfile.id">
        <a class="btn btn-primary" href="/#!/items/{{item.id}}/edit"> Edit&nbsp;&nbsp;&nbsp;
          <!-- <i class="icon-edit">Edit</i> -->
        </a>
        <a class="btn btn-primary" data-ng-click="remove();"> Delete
            <!-- <i class="icon-trash">Delete</i> -->
        </a>
    </div>
    <div data-ng-show="global.user.Profile.id != item.userProfile.id">
        <a class="btn" href="/#!/items/{{item.id}}"> Borrow
          <!-- <i class="icon-edit">Edit</i> -->
        </a>
    </div>
    <div>{{item.description}}</div>
    <div data-ng-repeat="image in item.images">
        <img ng-src="{{ image.url }}" />
    </div>
</section>

<!-- FORM -->
  <form name='scheduleForm' ng-submit="vm.submit()" novalidate>
    <div id="information-form" class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
      <div>
          <h3>Calendar</h3>
          <input id="date" class="form-control input-lg text-center" type="date" ng-model="vm.schedule.date">
          <span class="result"></span>
      </div>
      <hr>
      <div>
          <h3>Time</h3>
          <input id="time" class="form-control input-lg text-center" type="time" ng-model="vm.schedule.time">
          <span class="result"></span>
      </div>
      <hr>
        <input type="submit" value="Add" class="btn btn-primary btn-lg">
    </div>
  </div>
 </form>
</div>
