extends ../layouts/default

block content
  .container
      // HEADER
      .jumbotron.text-center
        h1 Welcome!

        p {{ scope.tagline }}
        a.button.btn.btn-primary(href='/auth/facebook') Sign In With Facebook
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        a.button.btn.btn-primary(href='/auth/twitter') Login With Twitter

    .span6
      if message && message.length
        .fade.in.alert.alert-error
          button.close(type="button", data-dismiss="alert") &times;
          strong #{message}
      block auth
