extends auth

block auth
  form.signin.input-block-level(action="/users/session", method="post")
    h2.form-signin-heading.text-center Please Log In
    .control-group
      label.control-label.input-lg.text-center(for='email') Email
      .controls
        input#email.form-control(type='text', name="email", placeholder='Email')
    .control-group
      label.control-label.input-lg.text-center(for='password') Password
      .controls
        input#password.form-control(type='password', name="password", placeholder='Password')
        &nbsp;&nbsp;
    .form-actions
      button.btn.btn-primary.text-center.form-control(type='submit') Log In&nbsp;
