<section data-ng-controller="RequestsController" data-ng-init="findRequest()">
    <div class="itemForms container-fluid">
    <span class="updateText">{{item.updatedAt | date:'medium'}}</span>
    <span class="updateText">From: {{item.userProfile.firstName}}</span>

    <h2>Title: {{item.name}}</h2>
    <h3>Description: {{item.description}}</h3>
    <div data-ng-repeat="image in item.images">
        <img ng-src="{{ image.url }}"/>
    </div>
    <ul>
        <li data-ng-repeat="message in request.messages">{{ message.From.firstName }}: {{ message.message }}</li>
    </ul>
    <div ng-show="request.approved">
        <h3 class="approvedText">Request Has Been Approved!</h3>
        You can pick up your item at:<BR />
        {{ request.item.pod.name }}<BR />
        {{ request.item.pod.address1 }}<BR />
        <span ng-show="request.item.pod.address2">{{ request.item.pod.address2 }}<BR /></span>
        {{ request.item.pod.city }}, {{ request.item.pod.state.code}} {{ request.item.pod.postalCode}}<BR />
    </div>
    <form name='messageForm' ng-submit="sendMessage()">
        <div class="controls">
            <textarea data-ng-model="newMessage.message" id="message" cols="30" rows="10" placeholder="Message">
            </textarea>
        </div>
        <input type="submit" value="Send" class="btn btn-primary btn-lg">
        <a class="btn btn-primary" ng-click="approveRequest()" ng-show="!request.approved && global.user.Profile.id == request.item.userProfile.id"> Approve Request&nbsp;
            <!-- <i class="icon-edit">Edit</i> -->
        </a>
    </form>
    </div>
</section>
