<section data-ng-controller="ProfileController">
  <form class='global-form create-name-form' name='createNameForm' ng-submit='updateProfile()' novalidate>
  <div class="control-group">
  <label for="firstName" class="control-label">First Name</label>
  <div class="controls">
    <input id="firstName" type="text" name="firstName" placeholder="First Name" ng-model='profile.firstName'/>
  </div>
</div>
<div class="control-group">
  <label for="lastName" class="control-label">Last Name</label>
  <div class="controls">
    <input id="lastName" type="text" name="lastName" placeholder="Last Name" ng-model='profile.lastName'/>
  </div>
</div>
<div class="control-group">
  <label for="address1" class="control-label">Address1</label>
  <div class="controls">
    <input id="address1" type="text" name="address1" placeholder="Address1" ng-model='profile.address1'/>
  </div>
</div>
<div class="control-group">
  <label for="address2" class="control-label">Address2</label>
  <div class="controls">
    <input id="address2" type="text" name="address2" placeholder="Address2" ng-model='profile.address2'/>
  </div>
</div>
<div class="control-group">
  <label for="city" class="control-label">City</label>
  <div class="controls">
      <input id="city" type="text" name="city" placeholder="City" ng-model='profile.city'/>
  </div>
</div>
<div class="control-group">
  <label for="state" class="control-label">State</label>
  <div class="controls">
      <select id="state" name="stateId" data-ng-model="profile.stateId"
              data-ng-options="state.id as state.state for state in states">
          <option value="">-- choose state --</option>
      </select>
  </div>
</div>
<div class="control-group">
  <label for="postalCode" class="control-label">PostalCode</label>
  <div class="controls">
    <input id="postalCode" type="postalCode" name="postalCode" placeholder="PostalCode" ng-model='profile.postalCode'/>
  </div>
</div>
<div class="form-actions">
  <button type="submit" id="profileSubmitButton" class="btn btn-primary">Save&nbsp;</button>
</div>
    </form>
</section>
